@import '../../stylesheets/colors';

.App > .container {
  // margin-bottom: 20px;
}

.App .verify-email {
  margin-bottom: 0;
  padding: 0;
  border-top: none;
  border-bottom: 1px solid #e7e7e7;
  background: #fff;
  color: $gray-dark;
  border-radius: 0;

  p {
    padding: 19px;
  }

  .btn {
    padding: 0;
  }
  
}

.App > .appContent {
  order:2;
  flex-grow: 1;
  overflow-y: scroll;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height:100%
}

#react-root {
  min-height: 100%;
  height:100%
}

body{
  margin:0;
}

html, body {
  margin:0;
  height:100%;
  min-height:100%;
}
